@import "tailwindcss";


.noto-serif-1 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* media quairy */

.sm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    text-wrap: wrap;
}

.btn-primary {
    background-color: #E95A08;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 36px;
    cursor: pointer;
    text-decoration: none;

}

.btn-primary:hover {
    background-color: #834115;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(78, 71, 255, 0.3);
    border-radius: 5px;
}



.form input {
    width: 644px;
    height: 50px;
    background-color: white;
    font-size: 16px;
    padding: 12px;
    border: 0;


}

/* small device */
@media screen and (max-width:640px) {
    .cards{
        grid-template-columns: repeat(2,1fr);
    }

    .footer-section{
        display: flex;
        flex-direction: column;
    }
    
}